.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(32, 29, 29);
    padding-bottom: 5px;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.logo{
    display: flex;
    align-items: center;
}

.navbar ul li a{
    margin-left: 15rem;
    text-decoration: none;
    color: white;
    font-size: 20px;
}